ul.group{
  list-style: none;
  padding-left: 1em;
  margin-bottom: 2em;
}

ul.group>li{
	/*display: flex;*/
	/*margin-bottom: 2em;*/
}
ul.group>li>span{
	display: block;
	margin-top: 2em;
	margin-bottom: 1em;
}

ul.group>li>ul{
	/*margin-left: 2em;*/
	padding: 0;
  	/*margin-top: 1em;*/
  	list-style: none;
}

ul.group>li>ul>li{
	margin-bottom: 0em;
}