ul.group{
  list-style: none;
  padding-left: 1em;
  margin-bottom: 2em;
}

ul.group>li{
	display: flex;
	margin-bottom: 1em;
}

ul.group>li>ul{
	margin-left: 2em;
	padding: 0;
  	margin-top: 0;
  	list-style: none;
}

ul.group>li>ul>li{
	margin-bottom: 1em;
}
