html{

}

body{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  margin: 0;
  min-height: 100vh;
}

.paginate{
  float: right;
  padding: 1em 0;
}

#app {
  flex-basis: 100%;
  position: relative;
  padding: 1em;
  background-color: white;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  max-width: 46em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
}

#app main{
  height: 100%;
}

header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li{
  display: inline-block;
  margin-right: 0.5em;
}

/*** Table Styles **/
input{
  padding: 1em;
  border: none;
}

input:focus{
  outline: none;
}

#status{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 14px;
  margin-left: -130px;
  margin-top: -44px;
  padding: 30px;

  background-color: white;
  /*box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.08);*/
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

a.router-link-exact-active{
  text-decoration: underline;
}

h1 a.router-link-active{
  text-decoration: inherit;
}

.notExhibition{
  opacity: 0.5;
}