html{

}

body{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  margin: 0;
  min-height: 100vh;
}

#app {
  flex-basis: 100%;
  position: relative;
  padding: 1em;
  background-color: white;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  max-width: 46em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
}

#app main{
  height: 100%;
}

header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li{
  display: inline-block;
  margin-right: 0.5em;
}

/*** Table Styles **/
table{
  border-collapse: collapse;
  padding: 1px;
  background: white;
  width: 100%;
  table-layout: fixed;
}

thead {
  color:white;
  background-color: hsl(155, 73%, 64%);
  font-weight: 100;
  text-align:left;
  vertical-align:middle;
}

tbody tr:hover{
  background: hsl(44, 98%, 67%);
}
table td{
  vertical-align: top;
}

.notExhibition{
  opacity: 0.5;
}

tbody{
  line-height: 1em;
}
tr{
  line-height: 1em;
  /*max-height: 1em;*/
}

td {
  padding: 1em;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*** Table Styles **/
input{
  padding: 1em;
  border: none;
}

input:focus{
  outline: none;
}

#status{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.08);
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}